body {
  background-color: #f8f9fa;
  color: #343a40;
}

.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card-footer {
  background-color: #e9ecef;
}

.sidebar .nav-link.active {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}

.sidebar .nav-link:hover {
  background-color: rgba(0, 123, 255, 0.05);
  border-radius: 5px;
}

.profile-dropdown-toggle::after {
  display: none !important; /* This hides the default arrow */
}
